<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Website Template with Sticky Sidebar</title>
    <meta name="description"
          content="Free responsive website HTML theme with sticky sidebar for both desktop and mobile. ">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    <div id="header">
        <div id="mobileMenuToggle" title="Menu">M</div>
        <a href="/" id="mobileLogo">Список разных штук</a>
        <div id="headerLeft">
            <div id="menuToggle">&equiv;</div>
        </div>
        <div id="headerRight">
            <nav>
                <ul>
                    <li><a href="/">Home</a>
                    <li><a href="/qapi/admin">Admin Page</a>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div id="wrapall">
    <div id="sidebar">
        <div id="stickThis">
            <div id="sidebarContent">
                <a id="logo" href="https://html5-templates.com/">Список разных штук</a>
                <aside>
                    <div style="text-align: start; margin-bottom: 20px">
                        <h3 style="margin-bottom: 20px;text-align: center;">Перечень всех штук</h3>
                        {% for category, sub in menu.items() %}
                            {{ category }}<br>
                            <div class="with-padding">
                                {% for subcategory, articles in sub.items() %}
                                    — {{ subcategory }}<br>
                                    <div class="with-padding">
                                        {% for article in articles %}
                                            — <a href="{{ url_for('article_view', slug=article.slug) }}">{{ article.title }}</a> <br>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <a class="back2Top" href="#">⮝&nbsp;Back to&nbsp;top&nbsp;⮝</a>
                </aside>
            </div>
        </div>
        <div id="stick-here"></div>
    </div>
    <div id="main">
        <section id="page">
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <footer>
                <p>&copy; You can copy, edit and publish this template but please leave a visible link to&nbsp;our&nbsp;website.
                    <a rel="nofollow" href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5&nbsp;Templates</a>
                </p>
            </footer>
        </section>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/static/script.js"></script>
</body>
</html>